/*scrollmagic*/

body, html {
	display: block;
	height: 100%;
	margin: 0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	background-color: black;
	color: white;
	background-image: url("img/plugs.svg");
	background-size: 20%;
	font-size: 20px;
  	overflow: hidden auto;
}


/*Vertical Panels*/
.panel {
	height: 100%;
	display: block;
	position: relative;
}

.panel:nth-of-type(even) {
	background-color: blue;
}

.container {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	height: 100%;
	padding: 1em 2em;
}

.scrollmagic-pin-spacer {
	text-align: center;
}


/*SVGs*/
svg {
	position: absolute;
	filter: drop-shadow(5px 5px 10px black);
	-webkit-filter: drop-shadow(5px 5px 10px black);
}

svg path {
	opacity: .8;
}

path.whiten {
	opacity: 0;
}

#laptop {
	width: 100%;
	left: 0;
	top: 6em;
}
/*
#monitor {
	width: 90%;
}
*/


/*Text*/
h3 {
	position: relative;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
    font-size: 2.5em;
    line-height: 1.2em;
    font-weight: bold;
    opacity: 0;
    top: 35%;
    transform: translateY(-50%);
    color: #006E16;
    text-align: left;
    font-family: "Arial Black", Gadget, sans-serif;
}

h3 strong {
	font-weight: 500;
	font-size: 1.2em;
	position: relative;
	top: .1em;
}

.white {
	color: white;
}

.high {
	top: 25%;
}

.monitor-text {
	width: 40%;
    margin-left: 20%;
    top: 24%;
    color: white;
}
/*
#laptop-content h3 {
	top: 7.5;
}*/



/*Links to instructions*/

.buttons {
	width: 22%;
	top: 10%;
    position: absolute;
    right: 0;
}

.buttons a {
	width: 45%;
	display: block;
	background-repeat: no-repeat;
	color: transparent;
	height: 7em;
	float: left;
}

a.mac {
	background-image: url("img/apple-logo.svg");
	height: 5.5em;
	margin-left: 10%;
}

a.pc {
	background-image: url("img/windows-logo.svg");
	position: relative;
	top: .7em;
}