/*scrollmagic*/

body, html {
	display: block;
	height: 100%;
	margin: 0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	background-color: #ECC28E;
	color: white;
	font-size: 20px;
}

* {
	box-sizing: border-box;
}


/*Vertical Panels*/
.scrollmagic-pin-spacer {
	text-align: center;
    width: 100%;
    overflow: hidden;
    /*z-index: 0;*/
}

.scrollmagic-pin-spacer:nth-child(3), .scrollmagic-pin-spacer:nth-child(4) {
	/*z-index: 1;*/
}

.panel {
	height: 100%;
	display: block;
	position: relative;
	border-bottom: 1px solid red;
	z-index: 0
}

.container {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	height: 100%;
	padding: 1em 2em;
	text-align: center;
}

.halfway-trigger {
	height: 50%;
	position: absolute;
	top: 50%;
}

#laptop-content {
	margin-bottom: 100%;
}

#monitor-attached-text-panel,
#step-away-panel {
	margin-bottom: 200%;
}



/*SVGs*/

svg {
	display: inline-block;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

svg path {
	opacity: .8;
}

path#whiten-laptop,
path#whiten-monitor
 {
	opacity: 0;
}

#monitor {
	transform: translateY(0);
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	top: 5%;
	width: 110%;
	left: 0;
}



/*Text*/
h3 {
	position: absolute;
    width: 100%;
    font-size: 3.5vw;
    line-height: 1.2em;
    font-weight: bold;
    opacity: 0;
    color: #006E16;
    text-align: left;
    font-family: "Arial Black", Gadget, sans-serif;
    top: 50%;
	left: 0;
	transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
}

@media screen and (min-width: 1200px) {
	h3 {
		font-size: 45px;
	}
}

h3 strong {
	font-weight: 500;
	font-size: 1.2em;
	position: relative;
	top: .1em;
}

.white {
	color: white;
}

.high {
	top: 25%;
}

.laptop-text {
	padding: 5% 20%;
}

.monitor-text {
	width: 45%;
	top: 35%;
	left: 10%;
}

.step-away-text {
	top: 40%;
    width: 70%;
    left: 10%;
}



/*Links to instructions*/

.buttons {
	width: 22%;
	top: 10%;
    position: absolute;
    right: 0;
}

.buttons a {
	width: 45%;
	display: block;
	background-repeat: no-repeat;
	color: transparent;
	height: 7em;
	float: left;
}

a.mac {
	background-image: url("img/apple-logo.svg");
	height: 5.5em;
	margin-left: 10%;
}

a.pc {
	background-image: url("img/windows-logo.svg");
	position: relative;
	top: .7em;
}