/*scrollmagic*/

body, html {
	display: block;
	height: 100%;
	margin: 0;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	background-color: #ECC28E;
	color: white;
	font-size: 20px;
}

* {
	box-sizing: border-box;
}


/*Spacing*/
.spacer {
	display: block;
	height: 50px;
}

.big-spacer {
	display: block;
	height: 500px;
}

.xl-spacer {
	display: block;
	height: 1000px;
}

#testdiv {
	width: 10px;
	height: 10px;
	background-color: red;
}

.pin, .fadetext {
	height: 1px;
	width: 50px;
	background-color: blue;
}


/*SVGs*/

svg path {
	opacity: .8;
}

.laptop-svg {
	width: 80%;
	margin: 0 auto;
	transform: 0;
}

#monitor-svg {
	width: 70%;
	margin: 0 auto;
	transform: 0;
}

path#whiten-laptop,
path#whiten-monitor
 {
	opacity: 0;
}


/*Text*/
h3 {
	position: relative;
    width: 100%;
    font-size: 3.5vw;
    line-height: 1.2em;
    font-weight: bold;
    opacity: 0;
    color: #006E16;
    text-align: left;
    font-family: "Arial Black", Gadget, sans-serif;
}

@media screen and (min-width: 1200px) {
	h3 {
		font-size: 45px;
	}
}

h3 strong {
	font-weight: 500;
	font-size: 1.2em;
	position: relative;
	top: .1em;
}

.white {
	color: white;
}

.high {
	top: 25%;
}

.laptop-text {
	width: 50%;
	margin: 0 auto;
}

.monitor-text,
.step-away-text {
	width: 45%;
	margin: 10% auto;
}

.internal-text,
rect.internal-text,
.internal-image {
	opacity: 0;
}


/*Links to instructions*/

.buttons {
	width: 22%;
}

.buttons a {
	width: 45%;
	display: block;
	background-repeat: no-repeat;
	color: transparent;
	height: 7em;
	float: left;
}

a.mac {
	background-image: url("img/apple-logo.svg");
	height: 5.5em;
	margin-left: 10%;
}

a.pc {
	background-image: url("img/windows-logo.svg");
	position: relative;
	top: .7em;
}